@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap');
* {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


  /* ---- Header part ---- height 30% ---- */ 

header{
    height: 30%;
}
h1{
    position: relative;
    background-image: url('../images/beau-tir-lac-cristallin-cote-base-montagne-enneigee-au-cours-journee-ensoleillee.jpg'); /*background-image problem*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height: 80%;
    margin: 0;
    color: white;/* font color*/
    font-size: 4vh;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2%;
    padding-bottom: 2%;
    text-shadow: 0 0 25px whitesmoke;
}

nav{
    display: flex ;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    height: 20%;
}
 ul{
    display: flex;
    justify-content: space-between;
    list-style: none; /*remove items from the list, remove the "puces"*/
    font-size: 2vh;
    font-family: Montserrat;
 }
 li{
    margin-right: 10%;
 }

 li a{
    color: inherit;
    text-decoration: none;
    background-color:rgb(189, 189, 189);
    padding: 1.66vh;
    position: relative;
 }

 ul li.active a:visited {
    color: rgb(0, 164, 226);
    background-color: white;
    position: relative;
    
}

 /* change the color when you mouve the mouse on the text.
 li :hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 164, 226)
 }
*/
.hamburger img{
    visibility: hidden;/* don't show the icone*/
}

/* ---- Main part ---- height 55% ---- */

h2{
    font-size: 3vh;
    border-bottom: 2px solid rgb(189, 189, 189); /* bottom border of the "title" of the page*/
}

header p{
    display: flex;
    font-style: italic;
    justify-content: flex-end;
    font-size: 2vh;
    font-family: Montserrat;
}
main{
    display: flex;
    background-color: orange;
    overflow: auto; /* scroll bar*/
    /*margin-top: 1%;
    /*margin-bottom: 1%;*/
    height: 55%;
    font-size: 2vh;
    font-family: Montserrat;
}
section{/*article*/
    background-color: blueviolet;
    width: 100%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vh;
}

aside{
    width: 25%;
    display: inline-block;
    text-align: center;
    margin-right: 2%;
    border: 1px solid grey;
    border-radius: 5%;
    box-shadow: 0 0 25px grey;
}

div h3{
    margin: 0;
    padding-top: 5%;
    background-color: rgb(0, 164, 226);
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    text-align: start;
    color: white;
}

/* ---- footer part ---- height 15% ---- */

footer{
    background-color: rgb(189, 189, 189);
    text-align: right;
    height: 15%;
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
}
#logo {
    margin-top: 2%;
    margin-bottom: %;
}

/*
@media (max-width: 768px) {
    body {
        flex-direction: column; Changez la direction de la disposition en colonne sur les écrans plus petits
    }

    section, aside {
        width: 100%; Réglez la largeur à 100% sur les écrans plus petits
        margin-right: 0; Supprimez la marge droite
    }
}
-> pour l'écran de téléphone il faut display l'icone Hamburger
*/

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    section, aside {
        width: 100%;
        margin-right: 0;
    }
}