.backgroundImg {
  @include verticalCenter;

  background: url(../../assets/images/game-bonus/landing-bg.png);
  position: relative;
  /*background-image problem*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  color: #fed206;
  /* font color*/
  font-size: 18vh;


  padding-left: 2%;
  padding-bottom: 2%;

  font-family: 'Copperplate Gothic', 'Copperplate Gothic Light', sans-serif;

  -webkit-text-stroke-color: #986533;
  -webkit-text-stroke-width: 3px;
  /* Stroke effect */
}