h1 {
    font-size: 3vh;
    border-bottom: 2px solid rgb(189, 189, 189);
    text-align: left;
    padding-left: 25px;
    padding-bottom: 5px;
}

.dragndrop {
    padding-left: 5rem;

}

.textDiv {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.dragndrop-header {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1.5vmin);
    flex-wrap: wrap;
}

.dragndrop-link {
    color: #61dafb;
}

@keyframes dragndrop-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

.characters li {
    display: flex;
    align-items: center;


    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
}

.characters p {
    max-width: none;
    font-weight: bold;
    margin: 0;
}